# Add the client ID and secret for Discord OAuth
OAUTH_DISCORD_KEY=client-id
OAUTH_DISCORD_SECRET=client-secret

# The ID of the Discord server in which users with the MANAGE_SERVER permission have access
DISCORD_GUILD_ID=123456789
